.container {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: rgba(219, 219, 219, 0.5);
    color: #414756;
}

.question-box {
    max-height: 90vh;
    min-height: fit-content;
    /* overflow: auto; */
    border-radius: 12px;
    box-shadow: 3px 5px 15px rgb(156, 156, 156);
    padding: 2rem;
    text-align: left;
    position: relative;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}